.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-image: radial-gradient(45deg, #111, #121212, #000);
  overflow: hidden;
}

.loader {
  position: absolute;
  width: 100px;
  height: 100px;
  border-left: 3px solid seagreen;
  border-radius: 100%;
  animation: animate 1s linear infinite;
}
.loader2 {
  position: absolute;
  width: 90px;
  height: 90px;
  border-left: 2px solid white;
  border-radius: 100%;
  animation: animate 1s linear infinite reverse;
}

.text {
  position: absolute;
  color: silver;
  font-style: oblique;
  font-size: 12px;
}

@keyframes animate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
